#top{
    width: 50vw;
    height: 50vh;
    position: relative;
    left:0;
    top:0;
    padding: 2.5vw 5vw;
    z-index: 100;
}

#top p{
	font-size:1rem;
	line-height:1.25rem;
	text-align:left;
    color: #000;
}

#top p a{
    font-size:0.975rem;
}

#top p a:hover{
    color:#000;
}

#top p .ml-ko{
	font-size:0.9rem;
    line-height: 1.5rem;
}

/**
 *   Give some extra space to single-page wrappers
 */
	
		
	.title{
		width:50vw;
		position:absolute;
        top:0;
		text-align:center;
		vertical-align:middle;
		height:auto;
        z-index: 100;
        padding: 0.5vw 5vw;
		}
				
		.title .title-t{
			font-size: 2rem !important;
			line-height: 2.5rem;
			position: relative;
		}
		.title .title-t .ml-ko{
            font-size:1.8rem;
			letter-spacing: -0.5px;
		}
		.date-category{
			font-size:0.75rem;
            line-height: 1.5rem;
		}

		.title .collab{
			font-size:0.75rem;
            line-height: 1.5rem;
		}
		
        .title .collab .ml-ko{
			font-size:0.7rem;
            letter-spacing: -0.5px;
		}
		
		.title .collab a{
			border-bottom:1px solid #000;
			padding-bottom:1px;
		}

	.content {
       min-width:50vw;
	   width:50vw;
	   position:relative;
	   min-height:100vh !important;
	   max-height:100vh;
	   height:100vh;
	   float:left;
	   overflow:hidden;
	}
	
	.content .txt{
		width:50vw;
        padding: 0 5vw;
		min-height:85vh;
		max-height:85vh;
		height:85vh  !important;
		overflow-y:scroll;
        margin-top:15vh;
        z-index: 10000;
        text-align: left !important;
        direction: rtl !important; 


	}

    .content .txt .title-t{
			text-align:left;
			font-size: 2rem !important;
			line-height: 2.75rem;
			position: relative;
		}
		.content .txt .title-t .ml-ko{
			text-align:left;
			font-size: 1.8rem !important;
			letter-spacing: -0.5px;
		}
	
		.content .img {
			min-width:50vw;
			width:50vw;
			min-height:100vh !important;
			max-height:100vh;
			height:100vh;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			display:inline-block;
			float:left;
		}

#top_journal_wrapper{
    width:50vw !important; 
    height:100vh; 
    overflow:scroll; 
    background-color:#eee;
    direction: rtl !important; 
    z-index: 1000;
}

#journal_wrapper{
    overflow: scroll;
    height: 100vh;
    min-height:100vh !important;
	max-height:100vh;
}

.journal {
    position:relative;
    width:50vw;
    height:auto;
    padding:1vw 5vw;
    border-top: 1px solid #000;
    color:#000;
    text-align: left;
}

.journal img{
    width:40vw;
    height:auto;
    margin: 1vw 0;
}

.journal a, .journal a .ml-ko{
    font-size: 0.75rem !important;
}




/**
 *   Footer
 */
#bottom {
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	font-size:0.75rem;
	text-align:center;
	padding-bottom:0.5rem;
	z-index:1000;
}

	
#bottom:hover {
}


		@media screen and (orientation:portrait){
	  
			.title{
				max-width:100vw;
				min-width:100vw;
				width:100vw;
				position:relative;
				text-align:center;
				vertical-align:middle;
				min-height:25vh !important;
				max-height:25vh;
				height:25vh;
				float:left;
				background:#fff;
				}
            
            .title p{
                float: none;
                text-align: left;
            }
		
				.content {
				max-width:100vw;
				min-width:100vw;
				width:100vw;
				position:relative;
				min-height:75vh !important;
				max-height:75vh;
				height:75vh;
				float:left;
				overflow:hidden;
				}
		
				.content .txt{
					max-width:100vw;
					min-width:100vw;
					width:100vw;
					min-height:75vh !important;
					max-height:75vh;
					height:75vh;
				}
		
				.content .img {
					max-width:100vw;
					min-width:100vw;
					width:100vw;
					min-height:75vh !important;
					max-height:75vh;
					height:75vh;
					background-repeat: no-repeat;
					background-position: center center;
					 background-size: cover;
					display:inline-block;
					float:left;
				}
				

		
			}