#m-meun{
    width:100vw;
    min-height:5vh !important;
    height:5vh !important;
    color: #342dff !important; 
    text-align: center !important;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 133856;
    margin-bottom:0.5rem;
    background-color:#eee;
}


.work_bttn, .journal_bttn{
    color: #342dff !important; 
    text-align: center !important;
    position: fixed;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 133856;
    background-color:#eee;
    width: 50vw;
    height: 5vh;
    z-index: 33856;
    display: none;
    float: left;
    background-color:#eee;
    border-top: 1px solid #342dff;
    border-bottom: 1px solid #342dff;
    border-left: 1px solid #342dff;
}

.work_bttn{
        left: 50vw;
}
.journal_bttn{
    left:0vw;
}

.work_bttn, .journal_bttn p{
    padding-top: calc(2.5vh - 0.75rem);
}


#m-menu .work_bttn, #m-menu .journal_bttn:hover{
        cursor: url('../css/next.svg') 12 12, e-resize;

}

#m-menu p{
    position:relative;
    text-align: center;
    color: #342dff !important; 
    top:calc(50% - 0.75em);}

#m-menu2 {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 10px; 
    height: 40px; 
    display: none;
    z-index: 3856;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#m-menu2 ul li {
    background-color: #342dff;
    border-radius: 50%;
    width:7px;
    height:7px;
    margin-bottom: 3px;
    list-style: none;
}

#handler {
    width:50vw !important; 
    min-width:50vw !important; 
    position: fixed !important; 
    top:0 !important; 
    right:0 !important;
    z-index: 1 !important;
    -webkit-transition: all 0.5s ease-out;
}

#top{
    width: 100%;
    height: 30vh;
    position: relative;
    left:0;
    top:0;
    padding: 2.5vw 5vw;
    z-index: 100;
}

#top p{
	font-size:1rem;
	line-height:1.25rem;
	text-align:left;
    color: #000;
}

#top p a{
    font-size:0.975rem;
}

#top p a:hover{
    color:#000;
}

video { display: block; }

#bgvid { 
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-size: cover; 
}

/**
 *   Give some extra space to single-page wrappers
 */
	
		
	.title{
		width:100%;
		position:absolute;
        top: calc(2.5vw - 0.1875rem);
		text-align:center;
		vertical-align:middle;
		height:auto;
        z-index: 100;
        padding: 0 5vw;
		}
				
		.title .title-t{
			font-size: 2rem !important;
			line-height: 2.6rem;
			position: relative;
		}
		.title .title-t .ml-ko{
            font-size:1.9rem;
			letter-spacing: -0.5px;
		}
		.title .date-category{
			font-size:0.75rem;
            line-height: 1.5rem;
            margin-bottom: 0.1875rem;
		}

		.collab{
            position:absolute;
            bottom:0.8vw;
            z-index: 100;
            width:100%;
            text-align: left;
            padding: 1vw 5vw;
            font-size:0.75rem !important;
            text-align: left;
            padding: 1vw 5vw;
            line-height: 1.5rem;
            
		}
        .collab p {font-size:0.75rem !important; display: inline-block; float: left; margin-left: 0.5vw;}

        .collab a { 
            color: inherit !important;
            font-size:0.75rem !important;}
        .collab .ml-ko{
			font-size:0.7rem;
            letter-spacing: -0.5px;
		}

	.content {
       min-width:100%;
	   width:100%;
	   position:relative;
	   min-height:100vh !important;
	   max-height:100vh;
	   height:100vh;
	   float:left;
        overflow: hidden;
	}
 
	.content .txt{
		width:100%;
		min-height:100vh;
		max-height:100vh;
		height:100vh  !important;
		overflow-y: auto;
        padding-top:30vh;
        padding-left: 6.25vw;
        padding-right:6.25vw;
        padding-bottom:10vh;
        text-align: left !important;
        z-index: 20000 !important;

}

    .content .txt p{
        margin-bottom: 1rem;}

    .content .txt .title-t{
			text-align:left;
			font-size: 2rem !important;
			line-height: 2.75rem;
			position: relative;
		}
		.content .txt .title-t .ml-ko{
			text-align:left;
			font-size: 1.8rem !important;
			letter-spacing: -0.5px;
		}
	
		.content .img {
			min-width:100%;
			width:100%;
			min-height:100vh !important;
			max-height:100vh;
			height:100vh;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			display:inline-block;
			float:left;
		}

#top_journal_wrapper{
    width:50vw !important; 
    height:100vh; 
    overflow:scroll; 
    background-color:#eee;
    z-index: 50;
    -webkit-transition: all 0.5s ease-out;
}

#journal_wrapper{
    overflow: auto;
    height: 100vh;
    min-height:100vh !important;
	max-height:100vh;
    display: block;
}

.journal {
    position:relative;
    width:100%;
    height:auto;
    padding:1vw 5vw;
    border-top: 1px solid #342dff;
    color:#000;
    text-align: left;
    overflow-y: auto;
        display: block;

}

.journal img{
    width:100%;
    height:auto;
    display: block;
    margin: 0.5vw 0;
    padding: 0.5vw 0;
}

.journal a, .journal a .ml-ko{
    font-size: 0.75rem !important;
}

.journal .date-category{
    font-size:0.75rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #342dff;
}

.journal .left p{
    margin-bottom: 1rem;
}


@media screen and (orientation:portrait), (max-width: 667px){
    body{ }
    
    #wrapper{ width: 200vw;}
    
    #top_journal_wrapper{
        width:100vw !important; 
        position:fixed;
        left: 0;
        top: 5vh;
    }
    
    #up {display: none;}
    #down {display: none; width:100vw;}
    #handler{
        width:100vw !important;
        height: 100vh;
        position:fixed;
        left:100vw;
        top:5vh !important;
    }
    
    
    #m-meun{display: block;}
    .work_bttn{display: inline-block;}
    .journal_bttn{display: inline-block}
    .collab{
        bottom: calc(0.8vw + 5vh);}
}

@media screen and (orientation:landscape) and (max-width: 768px){
    
    #top{
        height:50vh;
    }

}