/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  position:fixed;
  right:2.5vw;
  top:calc(2.5vw-9px);
  z-index:1000;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: fixed;
  color: #999;
  width: 100vw;
  height:100vh;
  background-color: #fff;
background-repeat: no-repeat;
background-position: center center;
  z-index:999;
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

#menu p{
	font-size:1rem;
	line-height:1rem;
	text-align:left;
	padding:2.5vw;
	color:#000;
}

#menu p .ml-ko{
	font-size:0.9rem;
	
}

#menu a{
	border-bottom: 1px solid #000;
	padding-bottom:0.05rem;
}


/**
 *   Give some extra space to single-page wrappers
 */
	
		
	.title{
		max-width:50vw;
		min-width:50vw;
		width:50vw;
		position:relative;
		text-align:center;
		vertical-align:middle;
		min-height:100vh !important;
		max-height:100vh;
		height:100vh;
		float:left;
		background:#fff;
		}
		
		.title p{
			text-align: center;
		}
		
		.title .title-t{
			text-align:center;
			font-size: 2rem !important;
			line-height: 2.75rem;
			position: relative;
			padding: 2.5vw 12.5vw;
		}
		.title .title-t .ml-ko{
			text-align:center;
			font-size: 1.8rem !important;
			letter-spacing: -0.5px;
		}
		.title .date-category{
			text-align:center;
			font-size:0.75rem;
			display:block;
			position:relative;
			top:1rem;
			
		}
		.title .date-category .ml-ko{
			font-size:0.71rem;
		}
		
		.title .date-category a{
			border-bottom:1px solid #000;
			padding-bottom:1px;
		}
		
		.description {
			display:block;
			position: absolute;
			bottom:0;
			text-align:left;
			padding:1vw 7.5vw;
			width:50vw;
			height:50vh;
			border-top: 1px solid #000;
		}
		.description p{
			font-size:0.9rem;
			text-align:left !important;
			line-height:1.375rem;
		}
		
		.description p .ml-ko{
			font-size:0.83rem;
		}

	
	.content {
	max-width:50vw;
	min-width:50vw;
	width:50vw;
	position:relative;
	min-height:100vh !important;
	max-height:100vh;
	height:100vh;
	float:left;
	overflow:hidden;
	}
	
	.content .txt{
		max-width:50vw;
		min-width:50vw;
		width:50vw;
		min-height:100vh;
		max-height:100vh;
		height:100vh  !important;
		overflow-y:scroll;
	}
	.content .txt p{
		padding:3.65vw 7.5vw;
		line-height:1.5rem;
		font-size:1rem;
	}
	
	.content .txt p .ml-ko{
		font-size:0.91rem;
	}
	
		.content .img {
			max-width:50vw;
			min-width:50vw;
			width:50vw;
			min-height:100vh !important;
			max-height:100vh;
			height:100vh;
			background-repeat: no-repeat;
			background-position: center center;
			 background-size: cover;
			display:inline-block;
			float:left;
		}


/**
 *   Footer
 */
#bottom {
	position:fixed;
	bottom:0;
	left:0;
	width:100vw;
	font-size:0.75rem;
	text-align:center;
	padding-bottom:0.5rem;
	z-index:1000;
}

	
		#bottom:hover {
		}


		@media screen and (orientation:portrait){
	  
			.title{
				max-width:100vw;
				min-width:100vw;
				width:100vw;
				position:relative;
				text-align:center;
				vertical-align:middle;
				min-height:50vh !important;
				max-height:50vh;
				height:50vh;
				float:left;
				background:#fff;
				}
		
				.content {
				max-width:100vw;
				min-width:100vw;
				width:100vw;
				position:relative;
				min-height:50vh !important;
				max-height:50vh;
				height:50vh;
				float:left;
				overflow:hidden;
				}
		
				.content .txt{
					max-width:100vw;
					min-width:100vw;
					width:100vw;
					min-height:50vh !important;
					max-height:50vh;
					height:50vh;
				}
		
				.content .img {
					max-width:100vw;
					min-width:100vw;
					width:100vw;
					min-height:50vh !important;
					max-height:50vh;
					height:50vh;
					background-repeat: no-repeat;
					background-position: center center;
					 background-size: cover;
					display:inline-block;
					float:left;
				}
				
				.description {
					max-width:100vw;
					min-width:100vw;
					width:100vw;
					min-height:25vh !important;
					max-height:25vh;
					height:25vh;
				}
		
			}