---
layout: default
---
<script>var x = 0;</script>
	   <div id="fullpage">

    {% for post in site.posts %}

	   		<div class="section">
				
				<script>
						if (x == 0) {							
							$('#t{{ post.id }}').css('float', 'right');
							$('#c{{ post.id }}').css('float', 'right');
							x = 1;
						} else if (x == 1) {
							$('#t{{ post.id }}').css('float', 'left');
							$('#c{{ post.id }}').css('float', 'left');
				    		x = 0;
							alert(x);
							
						}
				</script>
					
					
	   			<div class="title" id="t{{ post.id }}" style="background:#{{ post.bg-color-1 }}">
	   			<p class="date-category">{{ post.date | date: "%Y.%m" }} — <a href="">{{ post.categories }}</a></p>
	   			<p class="title-t">{{ post.title }}</p>
	   			<div class="description">
	   				{% if post.description %}
	   					{{ post.description }}
	   				{% endif %}
	   				<p class="date-category">
							{% if post.size %}
							{{ post.size }}
	   						{% endif %} . 
	   						{% if post.site_url %}
	   						<a href="{{ post.site_url }} ?>" target="blank">
	   							{{ post.site }}</a></p>
	   						{% endif %}
	   			</div>
	   			</div>
	   		
	   		<div class="content" id="c{{ post.id }}" style="background:#{{ post.bg-color-2 }}">
	   			<div class="my-slider">
	   				<ul>
	   					{% if post.img1 %}
	   					<li><div class="img" style="background-image: url('{{ post.img1 | prepend: site.baseurl }}');"> </div></li>
	   					{% endif %}
						
	   					{% if post.img2 %}
	   					<li><div class="img" style="background-image: url('{{ post.img2 | prepend: site.baseurl }}');"> </div></li>
	   					{% endif %}
						
	   					{% if post.img3 %}
	   					<li><div class="img" style="background-image: url('{{ post.img3 | prepend: site.baseurl }}');"> </div></li>
	   					{% endif %}
						
	   					{% if post.img4 %}
	   					<li><div class="img" style="background-image: url('{{ post.img4 | prepend: site.baseurl }}');"> </div></li>
	   					{% endif %}
						
	   					{% if post.img5 %}
	   					<li><div class="img" style="background-image: url('{{ post.img4 | prepend: site.baseurl }}');"></div></li>
	   					{% endif %}
						
	   					{% if post.txt %}<li><div class="txt">
	   							<p>{{ post.txt }}</p>
	   						</div></li>
	   						{% endif %}
	   				</ul>
	   		</div>
		</div></div>
    {% endfor %}
	   </div>
