---
layout: default
---

<div id="m-menu">
        <div class="journal_bttn"> <p>journal</p> </div>
        <div class="work_bttn" style="border-right:1px solid #342dff;"> <p>work</p> </div> 
</div>



<div id="wrapper">
    

    
<div id="top_journal_wrapper" style="float:left !important;">
    <div id="top"> 
    <p>In-ah Shin
        <br>Graphic designer, keen observer,
        <br>based in Seoul, South Korea.</p>
       <p><br><a href="mailto:info@sceneryoftoday.kr">info@sceneryoftoday.kr</a><Br>
       <a href="http://twitter.com/sceneryoftoday" target="_blank">twitter</a> . <a href="http://instagram.com/sceneryoftoday" target="_blank">instagram<Br></a>
    </p>
    </div> 
    <div id="#journal_wrapper">
{% for post in site.posts %}
    {% if post.categories contains 'journal' %}
        <div class="journal">
            <p><span class="date-category" style="position:relative; top:-3px; margin-right:1vw;">{{ post.date | date: "%Y.%m.%d" }}</span> {{ post.title }}</p>
            {% if post.img %}
            <a href="{{ post.link }}" target="_blank"><img src="{{ post.img | prepend: site.baseurl }}"></a>
            {% endif %}
            <div class="left">{{ post.content }}</div>

        </div>
     {% endif %}
{% endfor %}
        </div>
</div>
    
<div id="handler">
                <div id="down">&nbsp;</div>
                <div id="up">&nbsp;</div>
    <div id="fullpage" style="width:100% !important; z-index:1 !important;">
        
    {% for post in site.posts %}
      {% if post.categories contains 'work' %}


	   		<div class="section">
					
	   			<div class="title" id="t{{ post.bg-color-1 }}">
	   			     <p class="date-category" style="color:#{{ post.bg-color-1 }};">{{ post.date | date: "%Y.%m" }}—{{ post.sub-cat }}</p>
                    <p class="title-t" style="color:#{{ post.bg-color-1 }};">{{ post.title }}</p>
                    
	   			</div>
                <div class="collab" style="color:#{{ post.bg-color-1 }} !important;">
                    {% for item in post.collab %}
                        {{ item in post.collab | markdownify }}
                    {% endfor %} 
                </div>

	   		<div class="content" id="c{{ post.bg-color-1 }}" style="background:#{{ post.bg-color-2 }}"> 

	   			<div class="my-slider">
	   				<ul>
                        {% for item in post.img %}
                        <li><div class="img" style="background-image: url('{{ item in post.img | prepend: site.baseurl }}');"> </div></li>
                        {% endfor %}
                        						
	   					{% if post.txt %}
                        <li>
                            <div class="txt">
	   							{{ post.content }}
                            </div>
	   						</li>
	   					{% endif %}
                        
                        {% if post.vid %}
                        <li style="width:100%; height:100vh;">
                            <video autoplay loop id="bgvid">
                                <source src="{{ post.vid | prepend: site.baseurl }}" type="video/webm">
                            </video>
                            
                        </li>{% endif %}

	   				</ul>
	   		</div>
		</div></div>
        {% endif %}
    {% endfor %}
        </div>
        </div>
        
</div>
    
