<head>
<script>
  (function(d) {
    var config = {
      kitId: 'ykz4dyv',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
      <base target="_blank">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  <link rel="stylesheet" href="{{ "/css/unslider.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/unslider-dots.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fullPage.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/small.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    
    <script src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="{{ "/js/multilingual.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/unslider.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/fullPage.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery-ui.js" | prepend: site.baseurl }}"></script>
	<script src="http://stephband.info/jquery.event.move/js/jquery.event.move.js"></script>
    <script src="http://stephband.info/jquery.event.swipe/js/jquery.event.swipe.js"></script>

    <script>
    $(window).on('orientationchange', function(e) {
            $.mobile.changePage(window.location.href, {
                allowSamePageTransition: true,
                transition: 'none',
                reloadPage: true
                });
            });
    $(document).ready(function(e){
        $("body").multilingual(["ko"]);
    	$('#fullpage').fullpage({
            autoScrolling: true,
            keyboardScrolling: true,
            normalScrollElements: '#top_journal_wrapper, #journal_wrapperm, .content, .txt',
            continuousVertical: true,
            fixedElements: '#down, #up',
            fitToSection: false,
            scrollOverflow: true,
            scrollOverflowOptions: {
            click: false,
            tap: true,
            interactiveScrollbars: true
        }});
        
        $('#down').click(function(){
            $.fn.fullpage.moveSectionDown();
        });
        
        $('#up').click(function(){
            $.fn.fullpage.moveSectionUp();
        });
        
		$('.my-slider').unslider({ 
			infinite: true, fluid: true, dots: false
		});	
        $(".top").click(function(){
            $("#m-menu, .top, #fullpage, #handler").css("display", "none");
            $("#wrapper, #m-menu2, #top_journal_wrapper, #top, #journal_wrapper").css("display", "block");
        });
        $(".bottom").click(function(){
                $("#m-menu, .top, #top_journal_wrapper, #top, #journal_wrapper").css("display", "none");
                $("#wrapper, #m-menu2, #fullpage, #handler").css("display", "block");
        });
        $("#m-menu2").click(function(){
            $("#m-menu, .top, .bottom").css("display", "block");
            $(this, '#wrapper').css("display", "none")
        });
        
    });	
        
  </script>
  
</head>
